{% extends 'base.html' %}

{% block boardhead %}
    <table class="table">
        <thead  class="thead-inverse">
            <tr>
                <th>index</th>
                <th>제목</th>
                <th>조회수</th>
                <th>작성자</th>
                <th>댓글수</th>
                <th>작성일자</th>
            </tr>
        </thead>

        <tbody>
            {% for topic in topics %}
            <tr>
                <td>{{topic.writter.username }}</td>
                <td>{{topic.subject }}</td>
                <td>0</td>
                <td>0</td>
                <td>{{topic.last_updated}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <!-- add creating posting button  게시글 버튼-->
    <div class="mb-4">
        <a href="{% url 'new_topic' %}" class="btn btn-info"><b>글 작성</b></a>
    </div> 

{% endblock %}








{% load static %} <!--static파일을 로드합니다-->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    
    <title>여행</title>
    
    <link rel='stylesheet' href= "{% static 'css/bootstrap.min'%}"
    
</head>
<body>
    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">BOARD</a>
        </div>
    </nav>

    

</body>
</html>


